/* file: App.css */

.App {
  padding: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
li.item {
  padding: 5px;
  outline: solid 1px #eee;
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
li.item .name {
  margin-left: 6px;
}
li.item .selected-indicator {
  font-size: 2em;
  line-height: 0.5em;
  margin: 10px 8px 0 8px;
  color: lightgray;
}
li.item.selected .selected-indicator {
  color: skyblue;
}
li.item:hover {
  background-color: #eee;
}

/* begin: loader component */
.loader {
  display: inline-block;
}
.loader .bounceball {
  position: relative;
  width: 30px;
}
.loader .bounceball:before {
  position: absolute;
  content: '';
  top: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #61dafa;
  transform-origin: 50%;
  animation: bounce 500ms alternate infinite ease;
}
@keyframes bounce {
  0% {
    top: 60px;
    height: 10px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  25% {
    height: 60px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
/* end: loader component */